# Do not sync large raw data...
/0_PreProcess_largeFiles/
/3_MACS2/xls_combined_p0.3_noshift/

# Do not include Mac generated resouce fork files
._*

# Do not include Offic temps
~$*

# Do not inlcude all motif footprint intermediate files
/8_footprint/mpbs_all/
